<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultTimeout" value="60" />
    <add key="SeleniumServerURL" value="http://localhost:4444/wd/hub" />
    <add key="DefaultBrowser" value="Chrome" />
    <add key="BaseURL" value="http://www.google.com" />
    <add key="DefaultTimeoutBetweenEvents" value="100" />
    <add key="DatabaseServer" value="10.10.10.10" />
    <add key="DatabaseName" value="AutomacaoWEB" />
    <add key="DBUser" value="base2" />
    <add key="DBPassword" value="base2" />
    <add key="DBConnectionTimeout" value="6000" />
    <add key="log" value="" />
  </appSettings>
</configuration>