<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Execution Settings-->
    <add key="Remote" value="False" />

    <!--Selenium Settings-->
    <add key="DefaultTimeout" value="60" />
    <add key="DefaultBrowser" value="Chrome" />
    <add key="DefaultTimeoutBetweenEvents" value="100" />
    <add key="SeleniumServerURL" value="http://192.168.99.100:4444/wd/hub" />
    
    <!--Project Settings-->
    <add key="BaseURL" value="https://getbootstrap.com/docs/3.3/examples/signin/" />
    
    <!--Database Settings-->
    <add key="DBUser" value="base2" />
    <add key="DBPassword" value="base2" />
    <add key="DBConnectionTimeout" value="6000" />
    <add key="DatabaseName" value="AutomacaoWEB" />
    <add key="DatabaseServer" value="10.10.10.10" />
    
  </appSettings>
</configuration>